.dynamic-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: background 0.5s ease;
  }
  
  .mood-questionnaire,
  .options,
  .mood-playlists,
  .therapeutic-sounds {
    padding: 20px;
    text-align: center;
  }
  
  .options button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }
  